/* .example-source {
    border-radius: 0!important;
}

.example {
    border: 1px solid #eaecef!important;
    border-radius: 8px!important;
} */

.vp-doc h3 {
    cursor: pointer;
}

.vp-doc .header-anchor:before {
    content: "";
}