.wey-wechat-media {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .05);
  .container-box {
    display: block;
    background: #FFFFFF;
    padding: 15px;
    .media {
      display: flex;
      flex: 1;
      border-radius: 8px;
      .tips {
        color: #7e8081;
        font-size: 13px;
        // 不换行
        white-space: nowrap;
        margin-right: 15px;
      }

      .tip-icon {
        line-height: 13px;
        width: 13px;
        margin-right: 15px;
        color: #f6bf89;
        cursor: pointer;
      }

      //.tips::after {
      //  content: '';
      //  display: inline-flex;
      //  margin: 0 15px;
      //  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1.133c4.338 0 7.867 3.528 7.867 7.865 0 1.06-.208 2.088-.619 3.057a7.864 7.864 0 0 1-1.689 2.503 7.862 7.862 0 0 1-2.502 1.689A7.791 7.791 0 0 1 9 16.866a7.791 7.791 0 0 1-3.057-.619 7.862 7.862 0 0 1-2.502-1.69 7.864 7.864 0 0 1-1.69-2.502 7.794 7.794 0 0 1-.618-3.057c0-4.337 3.53-7.865 7.867-7.865zM9 0C4.038 0 0 4.036 0 8.998c0 4.961 4.038 9.001 9 9.001s9-4.04 9-9.001C18 4.036 13.962 0 9 0zm.601 13.966H8.276v-1.394H9.6v1.394zm2.166-6.264c-.142.296-.442.665-.902 1.106-.46.442-.765.757-.915.943-.15.187-.265.41-.342.67-.078.26-.112.608-.102 1.045H8.303c0-.51.041-.918.123-1.223.082-.305.205-.571.369-.8.164-.227.46-.562.888-1.003.428-.442.704-.763.827-.964.123-.2.184-.498.184-.895 0-.396-.141-.746-.423-1.052-.283-.305-.693-.457-1.23-.457-1.211 0-1.817.72-1.817 2.158H6.022c.018-.655.095-1.154.232-1.496.136-.341.355-.646.656-.915.3-.269.635-.467 1.004-.594a3.55 3.55 0 0 1 1.168-.192c.829 0 1.519.244 2.07.731.55.488.826 1.137.826 1.947 0 .365-.07.695-.211.99z' fill='%237E8081' fill-rule='evenodd'/%3E%3C/svg%3E");
      //  width: 18px;
      //  height: 13px;
      //}
      .arco-tabs {
        flex: 1;
      }

      .pane-content {
        padding: 24px;
        display: block;

        .content {
          margin-bottom: 24px;
        }

        .arco-pagination {
          display: flex;
          float: right;
        }
      }
    }
  }
}
